/* line 6, css/app */
body {
  background: #333;
  color: #fff !important;
}
/* line 11, css/app */
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
labels {
  color: #fff;
}
/* line 15, css/app */
header {
  background: #000;
  border-bottom: 4px #f15500 solid;
  margin-bottom: 20px;
}
/* line 21, css/app */
.button {
  background: #f15500 !important;
}
